@model OAK.Models.Edited.ArticleEditedModel

@await Html.PartialAsync("_jsEditCreateArticlePartial")

<form asp-controller="EditArticle" asp-action="EditCreate"
      asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">

    <label class="edit_section_record" asp-for="Section">Ветвь:</label>
    <select class="edit_section_parent" asp-for="Section">

        <option value="@null" class="edit_section_parent_section">...</option>
        @{
            List<Section> sections = ViewData["Sections"] as List<Section>;

            Section selected = sections.Find(s => s.ID == Model.Section);
            if (selected != null)
            {
                @:<option value="@selected.ID" class="edit_section_parent_section" selected>@selected.Name</option>
                sections.Remove(selected);
            }

            foreach (var item in sections)
            {
                <option value="@item.ID" class="edit_section_parent_section">@item.Name</option>
            }
        }
    </select>

    <label class="edit_section_record" asp-for="Name">Название:</label>
    <input class="edit_profile_name edit_section_name" asp-for="Name"
           data-val="true" data-val-required="The Idsection field is required." aria-describedby="Idsection-error"
           aria-invalid="true">

    <label class="edit_section_record">Содержание:</label>
    <br>
    <span class="field_validation" asp-validation-for="Content"></span>
    <br>
    <div id="fields">
        @{
            List<(string Type, short Number, byte[] Data)> fields = Model.Content;

            foreach (var item in fields)
            {
                if (item.Type == "text")
                {
                    @await Html.PartialAsync("_ContainerTextPartial",
                        (item.Type, item.Number, item.Data))
                }

                else if (item.Type == "sub")
                {
                    @await Html.PartialAsync("_ContainerSubPartial",
                        (item.Type, item.Number, item.Data))
                }

                else if (item.Type == "img")
                {
                    @await Html.PartialAsync("_ContainerImgPartial",
                        (item.Type, item.Number, item.Data))
                }
            }

            <script>
                var b = makeButtoms(@((fields.Count == 0) ? 0 : fields.Max(e => e.Number)));
                document.getElementById("fields").appendChild(b);
            </script>
        }
    </div>

    <button class="standart_buttom edit_profile_botton">Сохранить</button>
</form>

<div class="out edit_profile_drop">
    <a class="a_botton" asp-controller="EditArticle" asp-action="Drop" asp-route-id="@Model.Id">
        Сбросить
    </a>
</div>