@model Section

@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<div style="margin-left:50px;">
    @if (Model.Parent is null)
    {
        <div class="no-parent">
            Родитель отсутствует
        </div>
    }
    else
    {
        <div class="parent">
            <a class="a_botton" asp-controller="Sections" asp-action="Section" asp-route-id="@Model.ParentID">
                @{
                    string nameS = Model.Parent.Name;
                    if (nameS.Length > 24)
                    {
                        nameS = nameS.Substring(0, 24);
                        nameS += "...";
                    }
                    @Html.Raw(nameS)
                }
            </a>
        </div>
    }

    <div class="section_inf_name_favorite">

        <p class="section_inf_name">@Model.Name</p>

        @if (CurrentUser != null && Model.AutorID == CurrentUser?.ID)
        {
            <a asp-controller="EditSection" asp-action="EditCreate" asp-route-id="@Model.ID">
                <img class="profile_settings" src="~/icons/settings.png">
            </a>
        }
    </div>


    <div class="section_inf_name_favorite">
        <p class="section_inf_stat">Статей: @ViewBag.CountOfArticles</p>

        @if (Model.Autor is null)
        {
            <p class="section_inf_autor_name">Автор неизвестен</p>
            <div class="section_inf_autor_img_center">
                <img class="section_inf_autor_img" src="~/icons/acorn.png">
            </div>
        }
        else
        {
            <a asp-controller="Autors" asp-action="Autor" asp-route-id="@Model.AutorID">
                <p class="section_inf_autor_name">@Model.Autor.Name</p>
                <div class="section_inf_autor_img_center">
                    @Html.Raw("<img class='section_inf_autor_img' " +
                        "src=\"data:image/png; base64," + Convert.ToBase64String(Model.Autor.Avatar) + "\" />")
                </div>
            </a>
        }

        <p class="section_inf_autor">Создатель</p>
    </div>
</div>