@model Autor

<div class="liked liked_some_profile">
    <a class="a_botton" asp-action="AutorInFavorites" asp-controller="Autors" asp-route-id="@Model.Id">
        <p class="liked_title">В избранном у:</p>
    </a>

    @{
        var autors = Model.FavAutorIdautorfavoriteNavigations.Take(4);
        foreach (var item in autors)
        {
            Autor a = item.IdautororiginNavigation;

            <a class="a_botton" asp-action="Autor" asp-controller="Autor" asp-route-id="@a.Id">
                <div class="liked_autor">
                    @Html.Raw("<img class='liked_autor_img' " +
                    "src=\"data:image/png; base64," + Convert.ToBase64String(a.Avatar) + "\" />")
                    <p class="liked_autor_name">@a.Name</p>
                </div>
            </a>
        }
    }

    <a class="a_botton" asp-action="AutorInFavorites" asp-controller="Autors" asp-route-id="@Model.Id">
        <p class="recomended_dots">. . .</p>
    </a>
</div>