@model Section
@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}


<div class="half_section">
    <div class="half_section_autor_center">
        @if (Model.IdautorNavigation != null)
        {
            <a class="a_botton" asp-controller="Autors" asp-action="Autor" asp-route-id="@Model.Idautor">
                @Html.Raw("<img class='half_section_autor' " +
                "src=\"data:image/png; base64," + Convert.ToBase64String(Model.IdautorNavigation.Avatar) + "\" />")
            </a>
        }
        else
        {
            <img class="half_section_autor" src="~/icons/acorn.png" title="Автор не известен">
        }
    </div>

    <div class="half_section_inf">
        <a class="a_botton" asp-controller="Sections" asp-action="Section" asp-route-id="@Model.Id">
            <p class="half_section_name">@Model.Name</p>
        </a>

        @if (CurrentUser != null && Model.Idautor == CurrentUser.Id)
        {
            <a asp-controller="EditSection" asp-action="EditCreate" asp-route-id="@Model.Id">
                <img class="sections_favorite" src="~/icons/settings.png">
            </a>
        }

        <div class="half_section_parent">
            <p class="half_section_parent_record ">Родительская ветвь: </p>
            @if (Model.IdparentNavigation != null)
            {
                <div class="botton">
                    <a class="a_botton" asp-controller="Sections" asp-action="Section" asp-route-id="@Model.Idparent">
                        @Model.IdparentNavigation.Name
                    </a>
                </div>
            }
            else
            {
                <p class="half_section_parent_record ">Отсутствует</p>
            }
        </div>
    </div>
</div>





