@model Article
@inject ICurrentUser User
@{
    Autor CurrentUser = User.GetCurrentUser().Result;
}

<div class="half_article">

    <div class="half_article_title_inf">
        <a class="a_botton" asp-controller="Articles" asp-action="Article" asp-route-id="@Model.ID">
            <h4 class="half_article_title">@Model.Name</h4>
        </a>

        @if (Model.AutorID == CurrentUser?.ID)
        {
            <a asp-controller="EditArticle" asp-action="EditCreate" asp-route-id="@Model.ID">
                <img class="half_article_favorite" src="~/icons/settings.png">
            </a>
        }
        
    </div>

    <div class="half_article_content_inf">
        <div class="center_preview">
            @Html.Raw("<img class='half_article_prewie' " +
            "src=\"data:image/png; base64," + Convert.ToBase64String(Model.ArtImages.First().Image) + "\" />")
        </div>

        @{
            string clipp = Encoding.UTF8.GetString(Model.ArtTexts.First().Text);

            if (clipp.Length > 120)
            {
                clipp = clipp.Remove(120, clipp.Length - 120);
            }

            int flag = 0;
            for (int i = 0; i < clipp.Length; i++)
            {
                if (clipp[i] == ' ') { flag = 0; }
                if (flag == 20)
                {
                    clipp = clipp.Insert(i, "</br>");
                    i += 5;
                    flag = 0;
                }
                flag++;
            }

            clipp += "...";
            <p class="half_article_text">
                @Html.Raw(clipp)
            </p>
        }
    </div>

    <div class="botton">
        <a class="a_botton" asp-controller="Sections" asp-action="Section" asp-route-id="@Model.SectionID">
            @{
                string nameS = Model.Section.Name;
                if (nameS.Length > 24)
                {
                    nameS = nameS.Substring(0, 24);
                    nameS += "...";
                }
                @Html.Raw(nameS)
            }
        </a>
    </div>

    <div class="half_article_autor">
        @if (Model.AutorID != null)
        {
            <a class="a_botton" asp-controller="Autors" asp-action="Autor" asp-route-id="@Model.AutorID">
                <div class="half_article_autor_img_center">
                    @Html.Raw("<img class='half_article_autor_img' " +
                    "src=\"data:image/png; base64," + Convert.ToBase64String(Model.Autor.Avatar) + "\" />")
                </div>

                <div class="half_article_autor_name">
                    @Model.Autor.Name
                </div>
            </a>
        }
        else
        {
            <div class="half_article_autor_img_center">
                <img class="half_article_autor_img" src="~/icons/acorn.png" />
            </div>
            <div class="half_article_autor_name">Автор неизвестен</div>
        }
    </div>

    <div class="half_article_date">@Model.Date.ToString()</div>
</div>