@model string

<div>
    <div class="sort-container">
        <div id="news" class="sort" data-sort="@((int)Sort.News)">
            <img height="40" width="40" src="~/icons/oak sort.png" />
            <span style="margin-top:5px; margin-left:15px">Новые</span>
        </div>
        <div id="popular" class="sort" data-sort="@((int)Sort.Popular)">
            <img height="40" width="40" src="~/icons/like no.png" />
            <span style="margin-top:5px; margin-left:15px">Рейтинговые</span>
        </div>
        <div id="watched" class="sort" data-sort="@((int)Sort.Watched)">
            <img height="40" width="40" src="~/icons/views.png" />
            <span style="margin-top:5px; margin-left:15px">Просматриваемые</span>
        </div>
    </div>

    <div id="loader" class="sort-container" style="margin-top:10px"></div>


    <div id="articles" data-url="@(Url.Action(Model) + "?id=" + ViewBag.ID)"></div>
</div>

@section Scripts{
    <script src="~/js/jsSetSort.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var url = "";
        var page = @Html.Raw((int)ViewBag.Page);
        var sort = @Html.Raw((int)ViewBag.Sort);
        var action = "@Html.Raw(ViewBag.Action + "?id=" + ViewBag.ID)";
        var articles;


        function focusSort(sort) {
            News(sort == @Html.Raw((int)Sort.News));
            Popular(sort == @Html.Raw((int)Sort.Popular));
            Watched(sort == @Html.Raw((int)Sort.Watched));
        }

        function loader(flag) {
            if (flag) {
                $("#loader").html("<div class=\"lds-ellipsis\"><div></div><div></div><div></div><div></div></div>");
            } else {
                $("#loader").html("");
            }
        }

        $(document).ready(function () {
            url = $("#articles").data("url");

            articles = function (p, s) {
                focusSort(s);
                query = url + "&page=" + p + "&sort=" + s;
                history.pushState("", "", action + "&page=" + p + "&sort=" + s);

                loader(true);
                $("#articles").html("");


                $.get(query).done(function (data) {
                    $("#articles").html(data);
                    loader(false);
                });
            }

            articles(page, sort);


            $("#articles").on("click", "a[data-page]", function () {
                page = $(this).data("page");
                articles(page, sort);
                window.scrollTo(0, 0);
            });

            $(".sort").on("click", function () {
                sort = $(this).data("sort");
                articles(page, sort);
            });
        });
    </script>
} 